.newshead {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.imgBx {
    width: 824px;
    height: 372px;
    background: #E0E8FB;
    border-radius: 8px;
    position: relative;
}

.imgBxY {
    position: absolute;
    width: fit-content;
    bottom:-70px;
    left: -60px;
}

.news {
    margin-top: 100px;
    margin-bottom: 50px;
}

.newslet {
    height: 400px;
    display: flex;
    align-items: center;
}

.imgBxII {
    width: 500px;
    height: 350px;
    border: 1px dashed #000;
    position: relative;
}

.newst {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #E0E8FB;
    padding: 10px;
    left: 45px;
    top: 15px;
}

.newstinner {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.newstinner::-webkit-scrollbar {
    width: 0;
}

.imgcont {
    height: 100%;
    min-width: 250px;
}

.imgcont img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.head {
    border: 1px solid #000;
    width: 100%;
    border-style: dashed;
    border-left: none;
    border-right: none;
}

.head li {
    padding: 10px 55px;
}

.head a {
    color: #000;
    text-decoration: none;
}

.newsletter {
    background-color: #FFF;
    height: 80vh;
    padding: 80px;
}

@media (max-width: 991px) {
    
}