@page
@model landing_page_razor.Pages.AboutUsModel
@{
    ViewData["Title"] = "About us";
}

<div class="container-fluid aboutUs">
    <div class="aboutUs1 position-relative">
        <div class="position-absolute imgBorder"></div>
    </div>
    <div class="aboutUs2 position-relative d-flex justify-content-center">
        <div class="position-absolute imgBorderII">
            <img src="~/assets/images/About Us/diverse.png" class="img-fluid rounded" alt=""/>
        </div>
        <div class="position-absolute top-50 w-75 text-center">
            <h3 class="my-5" style="font-weight:700;font-size:40px;">
                Designed to give you the best, and only the  best
            </h3>
            <div>
                <p class="fs-4">
                    GeneSys Health information Systems Limited (GHIS) is an e-Health company committed 
                    to mitigating the gaping issues in the healthcare sector through innovative tech. 
                    Established in 2018 as a pioneer Health Management Information System (HMIS), 
                    we provide customised solutions—EMR and Telemedicine (Gemeni)—to (public and private) 
                    hospitals toward digitising patient- and hospital management workflow processes, 
                    improving the quality of care and operations.
                </p>
            </div>
        </div>
    </div>
    <div class="position-relative d-flex justify-content-center align-items-center">
        <div class="mss shadow-lg">
            <div class="row">
                <div class="col-6">
                    <h1 style="font-size:30px;font-weight:700">Our Mission</h1>
                </div>
                <div class="col-6">
                    <p class="fs-4">
                        Our mission is to digitise and optimise healthcare service delivery through 
                        unparalleled client-centric service and technology solutions.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h1 style="font-size:30px;font-weight:700">Our Vision</h1>
                </div>
                <div class="col-6">
                    <p class="fs-4">
                        To be the leading provider of simplistic and affordable health tech. 
                        solutions to public and private health systems in Africa.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h1 style="font-size:30px;font-weight:700">Our Core Values</h1>
                </div>
                <div class="col-6">
                    <p class="fs-4 p-0 m-0">
                        Our values are summed up in one word: “IDEAL.”<br/>
                        <span><i class="bi fs-2 bi-dot"></i></span>Integrity<br />
                        <span><i class="bi fs-2 bi-dot"></i></span>Diligence<br />
                        <span><i class="bi fs-2 bi-dot"></i></span>Empathy<br />
                        <span><i class="bi fs-2 bi-dot"></i></span>Accountability<br />
                        <span><i class="bi fs-2 bi-dot"></i></span>Loyalty
                    </p>              
                </div>
            </div>
        </div>
    </div>
    <div class="p-5 mb-5">
        <h3 style="font-size:38px;font-weight:700;">Meet the people at the behind the scenes</h3>
        <div class="d-flex flexpp mt-5">
            <div class="mx-3 Frame">
                <div class="photoFrame">
                    <img src="~/assets/images/About Us/Munachimso Ayo-Olagunju 1.png" class="img-fluid" alt=""/>
                </div>
                <div>
                    <p class="fw-bold fs-4 m-0 p-0 text-center">Munachimso Ayo-Olagunju</p>
                    <p class="fs-5 text-center m-0 p-0">Chief Executive Officer</p>
                </div>
            </div>
            <div class="mx-3 Frame">
                <div class="photoFrame">
                    <img src="~/assets/images/About Us/Adeyinka Adenikinju 1.png" class="img-fluid" alt=""/>
                </div>
                <div>
                    <p class="fw-bold fs-4 m-0 p-0 text-center">Munachimso Ayo-Olagunju</p>
                    <p class="fs-5 text-center m-0 p-0">Chief Executive Officer</p>
                </div>
            </div>
            <div class="mx-3 Frame">
                <div class="photoFrame">
                    <img src="~/assets/images/About Us/Fiyinfoluwa Sanwo 1.png" class="img-fluid" alt=""/>
                </div>
                <div>
                    <p class="fw-bold fs-4 m-0 p-0 text-center">Fiyinfoluwa Sanwo</p>
                    <p class="fs-5 text-center m-0 p-0">People & Operations Associate</p>
                </div>
            </div>
            <div class="mx-3 Frame">
                <div class="photoFrame">
                    <img src="~/assets/images/About Us/Adedeji Adeniyi 1.png" class="img-fluid" alt=""/>
                </div>
                <div>
                    <p class="fw-bold fs-4 m-0 p-0 text-center">Adedeji Adeniyi</p>
                    <p class="fs-5 text-center m-0 p-0">People & Operations Associate</p>
                </div>
            </div>
            <div class="mx-3 Frame">
                <div class="photoFrame">
                    <img src="~/assets/images/About Us/Munachimso Ayo-Olagunju 1.png" class="img-fluid" alt=""/>
                </div>
                <div>
                    <p class="fw-bold fs-4 m-0 p-0 text-center">Munachimso Ayo-Olagunju</p>
                    <p class="fs-5 text-center m-0 p-0">Chief Executive Officer</p>
                </div>
            </div>
        </div>
    </div>
    <div class="p-5 container">
        <div class="join p-5">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-7 col-md-9 m-5">
                    <h3 style="font-size:28px;font-weight:700;color:#324054;" class="mb-5">
                        What are you waiting for? <br /> Join thousands of others today.
                    </h3>
                    <p class="mb-5" style="color:#324054;">
                        Make your patients smile and get your medical practice a fast and efficient EMR/HMIS with GeneSys today! We make running your medical practice easy for you.
                    </p>
                    <a href="" class="btn fs-5" style="background-color:#0ABFF8; color:#fff; border-radius:40px;padding:10px 20px;">
                        GET STARTED
                    </a>
                </div>
                <div class="col-lg-4 col-md-7 d-flex justify-content-center align-items-center">
                    <div>
                        <img src="~/assets/images/About Us/fun-3d.png" class="img-fluid" alt="" width="150px"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>